<header-pane></header-pane>

<div id="content">
    <left-public-sidebar></left-public-sidebar>

    <div id="mainContent" class="panel withoutRSContainer">
        <h3 class="panelTitle">{{pageTitle}}</h3>
        <p>Login to add an advertisement</p>

        <div class="blockElement lmBott">
            <input type="text" id="username" class="textInput" ng-model="user.username">
            <label for="username" class="siLf longTtl">Username</label>
        </div>
        <div class="blockElement lmBott">
            <input type="password" id="password" class="textInput" ng-model="user.password">
            <label for="password" class="siLf longTtl">Password</label>
        </div>
        <div class="blockElement submitMargin">
            <button class="button" ng-click="login(user)">Login</button> <span class="lightText">or <a href="#register" class="hover">register</a></span>
        </div>
    </div>
</div>