<!--<div id="mainContent" class="withRSContainer">-->
    <!--<section class="panel ad" ng-repeat="ad in ads.ads">-->
        <!--<h3 class="panelTitle adTitle"><span ng-bind="ad.title"></span><span class="dateInTitle">{{ ad.date | date}}</span></h3>-->
        <!--<aside>-->
            <!--<div class="imageHolder">-->
                <!--<img ng-src="{{ad.imageDataUrl}}" />-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="status">Status: Awaiting approval</div>&ndash;&gt;-->
        <!--</aside>-->
        <!--<article>-->
            <!--<span ng-bind="ad.text"></span>-->
            <!--<section class="sellerInfo">-->
                <!--<span class="siLf">Name: </span> <span class="siRg" ng-bind="ad.ownerName">Damian Dobrev</span>-->
                <!--<br>-->
                <!--<span class="siLf">Email: </span> <span class="siRg" ng-bind="ad.ownerEmail">sexy@bea.st</span>-->
                <!--<br>-->
                <!--<span class="siLf">Tel: </span> <span class="siRg" ng-bind="ad.ownerPhone">69/420 420</span>-->
            <!--</section>-->
        <!--</article>-->
        <!--&lt;!&ndash;<footer class="adMenuFooter">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="button">Approve</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="button">Reject</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="button">Edit</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="button">Delete</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</footer>&ndash;&gt;-->
    <!--</section>-->
<!--</div>-->