<div id="mainContent">
    <section class="panel ad">
        <h3 class="panelTitle">Iphone 4S For Sale</h3>
        <aside>
            <div class="imageHolder">
                <img src="http://9to5mac.files.wordpress.com/2012/05/iphones.jpg" />
            </div>
            <div class="status">Status: Awaiting approval</div>
        </aside>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eveniet fuga itaque modi necessitatibus quidem quos saepe sapiente soluta voluptas.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eveniet fuga itaque modi necessitatibus quidem quos saepe sapiente soluta voluptas.

            <section class="sellerInfo">
                <span class="siLf">Name: </span> <span class="siRg">Damian Dobrev</span>
                <br>
                <span class="siLf">Email: </span> <span class="siRg">sexy@bea.st</span>
                <br>
                <span class="siLf">Tel: </span> <span class="siRg">69/420 420</span>
            </section>
        </article>
        <footer class="adMenuFooter">
            <button class="button">Approve</button>
            <button class="button">Reject</button>
            <button class="button">Edit</button>
            <button class="button">Delete</button>
        </footer>
    </section>
</div>