<!--<div id="mainContent" class="panel withoutRSContainer">-->
    <!--<h3 class="panelTitle">{{pageTitle}}</h3>-->
    <!--<p>Register to add an advertisement</p>-->
    <!--<form>-->
        <!--<div class="blockElement lmBott">-->
            <!--<input type="text" id="username" class="textInput" ng-model="user.username">-->
            <!--<label for="username" class="siLf longTtl">Username</label>-->
        <!--</div>-->
        <!--<div class="blockElement lmBott">-->
            <!--<input type="password" id="password" class="textInput" ng-model="user.password">-->
            <!--<label for="password" class="siLf longTtl">Password</label>-->
        <!--</div>-->
        <!--<div class="blockElement lmBott">-->
            <!--<input type="password" id="confirmPassword" class="textInput" ng-model="user.confirmPassword">-->
            <!--<label for="confirmPassword" class="siLf longTtl">Confirm Password</label>-->
        <!--</div>-->
        <!--<div class="blockElement lmBott">-->
            <!--<input type="text" id="name" class="textInput" ng-model="user.name">-->
            <!--<label for="name" class="siLf longTtl">Name</label>-->
        <!--</div>-->
        <!--<div class="blockElement lmBott">-->
            <!--<input type="email" id="email" class="textInput" ng-model="user.email">-->
            <!--<label for="email" class="siLf longTtl">Email</label>-->
        <!--</div>-->
        <!--<div class="blockElement lmBott">-->
            <!--<input type="text" id="phone" class="textInput" ng-model="user.phone">-->
            <!--<label for="phone" class="siLf longTtl">Phone</label>-->
        <!--</div>-->
        <!--<div class="blockElement lmBott">-->
            <!--<select class="textInput" id="inputTown" ng-model="user.town" ng-options="town.id as town.name for town in towns">-->
            <!--</select>-->
            <!--<label for="inputTown" class="siLf longTtl">Town</label>-->
        <!--</div>-->
        <!--<div class="blockElement submitMargin">-->
            <!--<button class="button" ng-click="register(user)">Register</button> <span class="lightText">or <a href="#login" class="hover">login</a> if you have an account</span>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->